.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.android.tools.idea.smali-241.18034.62.2411.12071903\+334.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-241.18034.62.2411.12071903\+583.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.gradle-241.18034.62.2411.12071903\+61.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-2024.1.1.12\+976.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-241.18034.62.2411.12071903\+976.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-241.18034.62.2411.12071903\+116.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-241.18034.62.2411.12071903\+681.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-Coverage-241.18034.62.2411.12071903\+541.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-241.18034.62.2411.12071903\+699.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-intellij.webp-241.18034.62.2411.12071903\+498.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-JUnit-241.18034.62.2411.12071903\+384.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.groovy-241.18034.62.2411.12071903\+204.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-241.18034.62.2411.12071903\+27.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.android-2024.1.1.12\+577.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.kotlin-2024.1.1.12\+903.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.kotlin-241.18034.62.2411.12071903-AS\+903.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.gradle-241.18034.62.2411.12071903\+94.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-241.18034.62.2411.12071903\+72.xml

.intellijPlatform/localPlatformArtifacts/bundledPlugin-TestNG-J-241.18034.62.2411.12071903\+929.xml

.intellijPlatform/self-update.lock

.kotlin/sessions/kotlin-compiler-10341475546138485323.salive

.idea/

.kotlin/

.intellijPlatform/


local.properties
